<!DOCTYPE html>
<html>
<head>
    <title>AI Lesson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<hr class="mt-5">

<h4>Ask a Doubt</h4>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="topic" value="{{ explanation }}">
    
    <div class="mb-3">
        <label>Enter Your Doubt:</label>
        <input type="text" name="doubt" class="form-control" required>
    </div>

    <button type="submit" name="ask_doubt" class="btn btn-warning">
        Ask AI
    </button>
</form>

{% if doubt_answer %}
<div class="card p-3 mt-3 shadow">
    <h5>AI Explanation:</h5>
    <p>{{ doubt_answer }}</p>
</div>
{% endif %}

    <a href="/dashboard/" class="btn btn-primary mt-4">Back</a>
</div>

</body>
</html>

<a href="/exam/?grade={{ request.GET.grade }}&topic={{ request.GET.topic }}" 
   class="btn btn-primary mt-4">
   Start Assessment
</a>